<style>
    .scroll-table{
        height: 200px;
        overflow: auto;
        border: #333333;
    }
</style>
<%= link_to 'New Location', new_location_path, :class => 'btn btn-snall ' %>
<h1>Listing locations</h1>

<div class="scroll-table">
<table class="table">
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Zip</th>
  </tr>

  <% @locations.each do |location| %>
      <tr>
        <td> <%= location.address %></td>
        <td> <%= location.lat %></td>
        <td> <%= location.lng %></td>
        <td> <%= location.zip_code %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
  </div>
 <script type="text/javascript">
    $(document).ready(function () {
        $('#find_by_zipcode_btn').on("click", function () {
            var url = "/find_by_zipcode?zip=" + $('#zipcode_field').val() + "&distance=" + $('#distance_field').val();
            $.get(url,function () {
            }).done(function () {
                        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                    });
        });
    });
</script>
<% if false %>
    <%= text_field_tag 'address', nil, placeholder: 'Enter address', size: 20, id: 'address_field' %>
    <%= button_tag 'Find by Address', :id => 'find_by_address_btn' %>
    <br/>
<% end %>
<br/>
<%= label_tag 'Zipcode'%>
<%= text_field_tag 'zipcode', 94105, placeholder: 'Enter zipcode', size: 20, id: 'zipcode_field', :style => "max-width: 100px;" %>
<%= label_tag 'Distance'%>
<%= number_field_tag 'distance', 5, placeholder: 'distance', size: 20, id: 'distance_field', :style => "max-width: 100px;" %>
<br />
<%= button_tag 'Find !', :id => 'find_by_zipcode_btn' %>
<hr/>
<h3> Result</h3>
<div class="result">
</div>